.idea/
.venv
.venv/
__pycache__/

/cluster_audio.png
/cluster_evaluation.png
/tsne_clusters.png

figs/

dataset/songs/**/
!dataset/songs/dowload_songs.md

clustering_results/dbscan/*
clustering_results/kmeans/*
clustering_results/spectral_clustering/*